<section sticky-nav>
      <a class="btn btn-primary"><i class="fa fa-code-fork"></i> Raise a Ticket</a>
      <a class="btn btn-default"><i class="fa fa-bug"></i> Call IT</a>
</section>

<p class="lead page-header">Docked Navigation on Scroll</p>

<div class="well">
    <p><b>Description:</b>
    </p>
    <p>When we allow infinite scrolling on datatable or search results, so that generic action buttons are always visible</p>
</div>

<p><b>Demo:</b></p>
<hr/>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
Text<br>
<style type="text/css">
.ng-sticky-fixed{
  background-color:rgba(0, 0, 0, 0.1);
  position:fixed;
  top:auto;
  width:100%; 
}
</style>
 



<div class="well">
    <p><b>Code:</b>
    </p>
    <xmp>
    <section sticky-nav>
      <a class="btn btn-primary"><i class="fa fa-code-fork"></i> Raise a Ticket</a>
      <a class="btn btn-default"><i class="fa fa-bug"></i> Call IT</a>
	</section>

	<style type="text/css">
.ng-sticky-fixed{
  background-color:rgba(0, 0, 0, 0.1);
  position:fixed;
  top:auto;
  width:100%; 
}
</style>

    </xmp>
</div>