<p class="lead page-header">Inline Document Browser</p>

<div class="well">
    <p><b>Description:</b>
    </p>
    <p></p>
    <p>Sourcing library, Supplier knowledge area etc.</p>
</div>

<p><b>Demo:</b></p>
<hr/>
<iframe src = "resources/ngDemo.pdf" width='400' height='300' allowfullscreen webkitallowfullscreen></iframe>
<br>

<div class="well">
    <p><b>Code:</b>
    </p>
    <xmp>
    <iframe src = "resources/ngDemo.pdf" width='400' height='300' allowfullscreen webkitallowfullscreen></iframe>
    </xmp>
</div>