<p class="lead page-header">Pinning of Columns</p>

<div class="well">
    <p><b>Description:</b>
    </p>
    <p>This module provides column pinning to the end user via menu options in the column header</p>
    <p>One may want to see details of a row based on certain columns. For example, keep the quoted rate column for a Line item as pinned column and then scroll through all bidders to see Delivery date of the item.</p>
</div>

<p><b>Demo:</b></p>
<hr/>

<div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>

<div class="well">
    <p><b>Code:</b>
    </p>
    <xmp>
    	<div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>
    </xmp>
</div>

