
<p class="lead page-header">Resizable Headers</p>

<div class="well">
    <p><b>Description:</b>
    </p>
    <p>The Resize Columns feature allows each column to be resized.</p>
</div>

<p><b>Demo:</b></p>
<hr/>

 <strong>Drag</strong> a the column separator to resize column contents.
      <br>
      <br>
      The column will obey any <i>minWidth</i> or <i>maxWidth</i> constraints you give it.
      <br>
      <br>
      <div ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-move-columns></div>

      <br>

<div class="well">
    <p><b>Code:</b>
    </p>
    <xmp>
     <strong>Drag</strong> a the column separator to resize column contents.
      <br>
      <br>
      The column will obey any <i>minWidth</i> or <i>maxWidth</i> constraints you give it.
      <br>
      <br>
      <div ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-move-columns></div>

      <br>
    </xmp>
</div>